@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white !important;
  color: black !important;
}

html {
  scroll-behavior: smooth;
}


.home-bg {
  background-image: url("/sansBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 640px) {
  .home-bg {
    background-image: url("/sansMobileBackground.png");
  }
}
